<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="VoteChats API endpoints documentation">
    <title>VoteChats API Documentation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="my-5">
            <h4>https://votechats-api.herokuapp.com</h4>
            <h6>url: https://votechats-api.herokuapp.com/api/v1</h6>
            <p>Prefix all endpoints with <code>/api/v1</code></p>
        </div>

        <h2>User Routes</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-sm">
                <thead class="thead-dark">
                    <th>#</th>
                    <th>Route</th>
                    <th>method</th>
                    <th>Endpoint</th>
                    <th>Params</th>
                    <th>Required <span class="text-danger">*</span></th>
                    <th>Description</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Signup</td>
                        <td><code>POST</code></td>
                        <td><code>/user/signup</code></td>
                        <td><code>{"email": "user@example.com", "username": "abcde", password: "123456"}</code></td>
                        <td><code>email, username, password</code></td>
                        <td>For user registration on the platform</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Login</td>
                        <td><code>POST</code></td>
                        <td><code>/user/login</code></td>
                        <td><code>{"email": "user@example.com", password: "123456"}</code></td>
                        <td><code>email, password</code></td>
                        <td>Sign into user account</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Recover Password</td>
                        <td><code>POST</code></td>
                        <td><code>/user/recoverpassword</code></td>
                        <td><code>{"email": "user@example.com"}</code></td>
                        <td><code>email</code></td>
                        <td>For user's account password recovery; OTP will be sent to email</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Reset Password</td>
                        <td><code>POST</code></td>
                        <td><code>/user/resetpassword</code></td>
                        <td><code>{"email": "user@example.com", "code": "12345678", "new_password": "123456"}</code></td>
                        <td><code>email, code, new_password</code></td>
                        <td>Reset password. Use OTP sent to email from <code>/recoverpassword</code></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Update Profile</td>
                        <td><code>PATCH</code></td>
                        <td><code>/user/updateprofile/{user_id}</code></td>
                        <td><code>{"full_name": "Jack Robinson", "birthday": "12-12-1912", "city": "awka", "sex": "male", "bio": "i code", "image_url": "url_or_path_to_profilepic"}</code></td>
                        <td><code>full_name, birthday, city, sex</code></td>
                        <td>Update user's profile</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Follow other user(s)</td>
                        <td><code>PATCH</code></td>
                        <td><code>/user/follow/{user_id}</code></td>
                        <td><code>{"follow_list": ["111111111111", "222222222222222"]}</code></td>
                        <td><code>follow_list <b>(must be an array)</b></code></td>
                        <td>Follow other users on the platform</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>User Profile</td>
                        <td><code>GET</code></td>
                        <td><code>/user/{user_id}</code></td>
                        <td><code>null</code></td>
                        <td><code>null</code></td>
                        <td>Fetch user's data</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>

        <h2>Hype Routes</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-sm">
                <thead class="thead-dark">
                    <th>#</th>
                    <th>Route</th>
                    <th>method</th>
                    <th>Endpoint</th>
                    <th>Params</th>
                    <th><small>Required <span class="text-danger">*</span></small></th>
                    <th>Description</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Hype</td>
                        <td><code>POST</code></td>
                        <td><code>/hype</code></td>
                        <td><code>{"user_id": "1212121231121231", "hype": "A hype body here", img_urls: ["path_or_url_to_image1", "path_to_img2"]}</code></td>
                        <td><code>user_id, hype</code></td>
                        <td>To make a hype</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Edit Hype</td>
                        <td><code>PATCH</code></td>
                        <td><code>/hype/edit/{hype_id}</code></td>
                        <td><code>{"hype": "A hype body example being edited here", img_urls: ["path_or_url_to_image1", "path_or_url_to_image2"]}</code></td>
                        <td><code>hype</code></td>
                        <td>To edit a hype</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Get user's hypes</td>
                        <td><code>GET</code></td>
                        <td><code>/hype/user/{user_id}</code></td>
                        <td><code>null</code></td>
                        <td><code>null</code></td>
                        <td>Fetches all hypes made by user</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Delete user's hypes</td>
                        <td><code>DELETE</code></td>
                        <td><code>/hype/delete/{hype_id}</code></td>
                        <td><code>null</code></td>
                        <td><code>null</code></td>
                        <td>Deletes a hype made by user</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
    </div>
</body>
</html>